body{font:normal 12px Arial;color:#333;;margin:0px;padding:0px}
*{box-sizing:border-box}
a{text-decoration:none;color:#333}
a:hover{color:#f75d75}

/*Một số class phổ biến*/
.fl{float:left}
.fr{float:right}
.cb{clear:both}
.tar{text-align:right}

/*Phần header*/
#header{height:100px;overflow:hidden}
#header .logo{float:left;line-height:100px}
#header .logo img{padding-top:15px; height:80px; width:250px}
#header .accountMenu{float:right;line-height:100px}

.MenuChinh{background:#797979}
.MenuChinh ul,
.MenuChinh li{list-style:none;margin:0;padding:0}
.MenuChinh li {display:inline-block}
.MenuChinh li a{display:inline-block;padding:10px 15px;color:#ffffff;font-weight:bold}
.MenuChinh li a.current,
.MenuChinh li a:hover{background:#D66C0F}

/*Cột Trái, cột phải trang Admin*/
.cotTrai{float:left;width:18%;box-sizing:border-box;border:solid 1px #dfdfdf;min-height:464px}
.cotPhai{float:right;width:80%;box-sizing:border-box;border:solid 1px #dfdfdf;min-height:464px;}

/*Css cho menu quản lý trái*/
.cotTrai .head{background:#f9f9f9;padding:10px;font-weight:bold;border-top:solid 1px #dfdfdf;border-bottom:solid 1px #dfdfdf}
.cotTrai .head:first-child{border-top:none}
.cotTrai ul li{padding:5px 0}
.cotTrai ul li a.current,
.cotTrai ul li a:hover{color:#ff006e}

/*Cột phải*/
.cotPhai .head{background:#f9f9f9;padding:10px;font-weight:bold;border-top:solid 1px #dfdfdf;border-bottom:solid 1px #dfdfdf}
.cotPhai .head:first-child{border-top:none}

/*css Khung thêm mới*/
.FormThemMoi{padding:15px}
.thongTin{overflow:hidden;padding-bottom:10px}
.tenTruong{float:left;width:150px}
.oNhap{float:left;width:calc(100% - 150px)}
.FormThemMoi input[type=text],
.FormThemMoi input[type=password],
.FormThemMoi select,
.FormThemMoi textarea{border:solid 1px #dfdfdf;width:50%;padding:5px}
.FormThemMoi .btThemMoi,
.FormThemMoi .btHuy{border:0 ;background:#f75d75;cursor:pointer;padding:10px 20px;color:#fff;font-weight:bold}
.FormThemMoi .btHuy{background:#bbb;margin-left:10px}
.FormThemMoi .thongBaoTaoThanhCong{color:#ff006e;font-size:16px;padding-bottom:20px;text-align:center;font-weight:bold}
.FormThemMoi .anhDaiDien {
    max-width: 200px;
    max-height: 120px;
}

/*CSS trang hiển thị các danh mục sản phẩm, danh mục tin tức*/
.KhungChuaBang{padding:10px}
table.tbDanhMuc{width:100%;border-collapse:collapse;border:1px solid #dfdfdf}
table.tbDanhMuc th,
table.tbDanhMuc td{padding:5px;border:1px solid #dfdfdf}
table.tbDanhMuc .cotMa{width:80px;text-align:center}
table.tbDanhMuc .cotAnh{width:120px;text-align:center}
table.tbDanhMuc .cotDonGia{width:120px;text-align:center}
table.tbDanhMuc .cotNgayTao{width:150px}
table.tbDanhMuc .cotSoLuong{width:120px;text-align:center}
table.tbDanhMuc .cotThuTu{width:70px;text-align:center}
table.tbDanhMuc .cotTenDK{width:120px;text-align:center}
table.tbDanhMuc .cotEmail{width:120px;text-align:center}
table.tbDanhMuc .cotDiaChia{width:120px;text-align:center}
table.tbDanhMuc .cotHoTen{width:120px;text-align:center}
table.tbDanhMuc .cotNgaySinh{width:120px;text-align:center}
table.tbDanhMuc .cotGioiTinh{width:70px;text-align:center}
table.tbDanhMuc .cotCongCu{width:120px;text-align:right}
table.tbDanhMuc .cotCongCu a{display:inline-block;width:24px;height:24px;background-position:center;background-repeat:no-repeat}
table.tbDanhMuc .cotCongCu a.dmcon{background-image:url(expend.jpg) }
table.tbDanhMuc .cotCongCu a.sua{background-image:url(edit.jpg) }
table.tbDanhMuc .cotCongCu a.xoa{background-image:url(delete.jpg) }
table.tbDanhMuc .cotAnh{position:relative;z-index:1}
table.tbDanhMuc .cotAnh .anhDaiDien{max-width:40px;max-height:40px}
table.tbDanhMuc .cotAnh .anhDaiDienHover{max-width:200px;max-height:200px;display:none;position:absolute;z-index:1;top:0;right:80px}
table.tbDanhMuc .cotAnh:hover .anhDaiDienHover{display:inline-block}
.cotPhai .head .btThemMoi{display:inline-block;background:url(add.jpg) no-repeat top left;padding-left:25px;padding-bottom:5px;padding-top:5px;color:#0026ff}

